name: Tencent Compatibility
on:
  workflow_dispatch:
  schedule: ## Schedule the job to run at 8am on Sun.
    - cron: '8 0 * * Sun'

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 21
      - name: Run AWS Repository tests
        env:
          TENCENT_KEY: ${{ secrets.TENCENT_KEY }}
          TENCENT_SECRET: ${{ secrets.TENCENT_SECRET }}
        run: ./gradlew -PintegrationTests=tencent check --rerun-tasks
