name: Linode Compatibility
on:
  workflow_dispatch:
  schedule: ## Schedule the job to run at 8am on Sun.
    - cron: '8 0 * * Sun'

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 21
      - name: Run Linode Repository tests
        env:
          LINODE_API_TOKEN: ${{ secrets.LINODE_API_TOKEN }}
        run: ./gradlew -PintegrationTests=linode check --rerun-tasks