name: Garage Compatibility
on:
  workflow_dispatch:
  schedule: ## Schedule the job to run at 8am on Mon, Thu.
    - cron: '8 0 * * Mon,Thu'

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 21
      - name: Run Garage Repository tests
        run: ./gradlew -PintegrationTests=garage check --rerun-tasks
